/* reset css */

@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fcb941;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(87, 70, 70, 0.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: "Poppins", sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .1s linear;
}
a{
    color: var(--font-color);
}
hr{
    background-color: #444;
    height: 1px;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    font-size: 1.3rem;
}
.wrap{
    width: 80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear;
	-ms-transition:all .2s linear;
}
.upcase{
    text-transform: uppercase;
}   
.header-top{
    color: #acacac;
    background-color: #333;
    
}
.header_top-content,.header_top-search{
    padding: 1rem 0px;
    font-weight: lighter;
    background-color: #333;
}
.header_top-content{
    padding:0px;
    padding: 5px 0;
}
.header_top-left>i{
    margin-right: 6px;
}
.header_top-left{
    display: flex;
    align-items: center;
}
.header_top-search{
    padding: 2rem 0px 1.7rem 0px;
}
.header_top-content,.header_top-rightlist,.navbar,.navbar-list,.header_top-search,.header_search-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top-right{
    position: relative;
}
.header_top-rightitem,.navbar-item{
    padding: 1rem;
}
.header_top-rightitem:hover > i,.header_top-rightitem:hover,
.header_top-left:hover>i,.header_top-left:hover{
    cursor: pointer;
    color: var(--orange)
}
.header_top-right i{
    font-size: 1rem;
    padding-left: 3px;
}
.header-bottom{
    font-size: 1.5rem;
    padding: 1rem 0px;
    box-shadow: 0px -10px 22px -10px ;
}
.header_search-input{
    justify-content: center;
    width: 60%;
    position: relative;
}
.header_search-input input{
    padding: 2rem;
    height: 3rem;
    width: 80%;
    border-radius: 5rem;
}
.header_search-rightlist{
    text-align: center;
    display: flex;
}
.header_search-rightitem{
    padding: 0px 1rem;
}
.cart-icon{
    font-size: 2rem;
}
.search-icon{
    font-size: 2.5rem;
    position: absolute;
    left: 83%;
}
.header_search-rightitem:hover > i{
    color: var(--orange)
}
.header_search-rightitem{
    position: relative;
}
.noti{
    position: absolute;
    top:-15%;
    left:60%;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--yellow);
    padding: 0.2px 6px;
    border-radius: 100%;
}
.navbar-list li:hover > i,.navbar-list li:hover > a,.navbar-list li:hover > span {
    cursor: pointer;
    color:var(--yellow);
}
.navbar-item{
    padding: 0px 1.5rem;
}
.navbar-item>i{
    font-size: 1rem;
    margin-left: 3px;
}
.navbar .bar-icon{
    display: none;
}

.navbar .product-item{
    position: relative;
    width: max-content;
    height: max-content;
}
.product-item .menu-dropdown{
    width: max-content;
    position: absolute;
    top:155%;
    z-index:10000;
    padding: 1rem 3rem;
    left: -13%;
    background-color: #f8f8f8;
}
.menu-dropdown{
    display: none;
}
.menu-dropdown li{
    font-size: 1.4rem;
    opacity: 0.8;
    padding: 0.3rem 0px ;
}
.menu-dropdown li:hover{
    color: var(--yellow);
}


.body-content{
 height: 4000px;
}
.navbar-list li:first-child{
    padding-left: 0px;
}
.sticky {
    position: fixed;
    top:0;
    width: 100%;
}
.scroll-up{
    position: fixed;
    bottom: 10%;
    right: 4%;
}
.scroll-up i{
    color: #999;
    font-size: 5rem;
}
.scroll-up:hover > i{
    color: #777;
}
@media (max-width:1200px){
    .search-icon{
        left: 76%;
    }
    .navbar .navbar-list{
        display: flex;
    }
}
@media (max-width:740px)
{
    .wrap{
        width: 90%;
    }
    .header_search-input{
        display: none;
    }
    .header_top-rightlist
    {
        display: block;
        text-align: right;
        background-color: #333;
    }
    .header_top-right{
        position: relative;
        width:45%;
        height: 3.5rem;
        overflow: hidden;
    }
    .header_top-rightlist{
        position: absolute;
        top:0%;
        right: 0;
        width: 100%;
        z-index: 9999;
    }
    .header-bottom{
        padding: 0;

    }
    .navbar{
        position: relative;
        width: 100%;
        height: fit-content;
        display: block;
    }
    .navbar .navbar-list,.bar-icon{
        display: block;
        width: 100%;
        background-color:#fafafa;
    }
    .bar-icon{
        background-color: #e0e0e0;
    }
    .navbar .navbar-list li{
        padding: 5px 5%;
    }
    .bar-icon{
        padding: 5px 5%;
    }
    .bar-icon>span{
        float: right;
    }
    .header-bottom > .wrap{
        width: 100%;
    }
    .navbar-list li:active{
        color: var(--yellow);
    }
    .navbar .navbar-list{
        display: none;
    }
    .navbar-list.active{
            display: block;
    }
    .navbar .bar-icon{
        display: block;
    }
    .scroll-up{
        right: 10%;
    }
    .scroll-up i{
        font-size: 3rem;
    }
    .navbar .product-item .fa-chevron-down{
        display: none;
    }
    .navbar .navbar-list.active{
        display: block;
      }
    .product-item .menu-dropdown{
        display: none;
    }
}